*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

.common-width{
    width: 1141px;
}

/* header styles */

header{
    background-image: url('../images/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
}